{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block container %}

<div class="container text-white mt-5 p-3 w-50" style="background-color: rgba(0, 0, 0, 0.5);">
    <h2>{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password?<br>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="col-md-6 col-lg-4 col-sm-3 my-2 text-center btn btn-success btn-sm" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

</div>

    
{% endblock container %}
