{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block container %}

<div class="container dflex justify-content-center align-items-center mt-5 p-4">
    
    <form class="signup col-12 col-md-6 col-lg-4 col-sm-3 mx-auto shadow-sm rounded p-4" style="background-color: rgba(0, 0, 0, 0.5); max-width: 400px;" id="signup_form" method="post" action="{% url 'account_signup' %}">
    <p>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
   
    {% csrf_token %}
    <div class="form-control mb-2">
        <label for="{{ form.username.id_for_label }}">Username:</label>
        {{ form.username }}
    </div>
    <div class="form-control mb-2">
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
    </div>
    <div class="form-control mb-2">
        <label for="{{ form.password.id_for_label }}">Password:</label>
        {{ form.password1 }}
    </div>
    <div class="form-control mb-2">
        <label for="{{ form.password.id_for_label }}">Confirm Password:</label>
        {{ form.password2 }}
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn-primary">Sign Up</button>
    </form>

</div>


{% endblock container %}