{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block container %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <form method="post" id="signup_form" action="{% url 'account_signup' %}" class="mx-auto shadow-sm w-50 rounded p-4 mt-2" style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal text-white">Sign in</h1>
        </div>
        <div>
            <h3 class="m-1 text-white"> Enjoy the taste of the best pizza! 🍕</h3>
            <p class="text-white">By signing up on our website, you get exclusive access to special offers and amazing releases.</p>
            <p class="text-white">Don't miss this one! Register right now.</p>
        </div>  
        {{ form.non_field_errors | safe }}
        {% csrf_token %}
        <div class="row g-3">
            <div class="col-12">
                <div class="form-label">
                    <label for="{{form.username.id_for_label}}"></label>
                    {{ form.username }}                    
                    {{ form.username.errors|safe }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-label">
                    {{ form.email }}
                    <label for="{{form.email.id_for_label}}"></label>
                    {{ form.email.errors|safe }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-label">
                    {{ form.password1 }}
                    <label for="{{form.password1.id_for_label}}"></label>
                    {{ form.password1.errors|safe }}
                </div>
            </div>
            <div class="col-12">
                <div class="form-label">
                    {{ form.password2 }}
                    <label for="{{form.password1.id_for_label}}"></label>
                    {{ form.password2.errors|safe }}
                </div>
            </div>
            
            <div class="col-6 text-center">
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-primary w-100 py-2 btn btn-sm mx-auto" type="submit">Sign in</button>
            </div>
        </div>
    </form>
</div>

{% endblock container %}