{% extends 'base.html' %}

{% load static %}

{% block container %}
<div class='w-75 m-auto p-5 shadow '>
    <h1 class='h4 m-2 text-uppercase '>About:</h1>
    <hr>
    <div class='fs-4 m-2'>
        <p class='fs-5'>"Welcome to the story of La Mamma Pizza, where each slice tells a tale of passion,
            tradition, and authentic flavors that make our pizzeria a unique place. At La Mamma
            Pizza, we are not just a pizza joint; we are a family dedicated to bringing authentic
            Italian tradition to your table. Our roots delve into recipes passed down through generations,
            and each pizza we create is a celebration of the culinary art we love.</p>
        <p class='fs-5'>🍕 Our History: Years ago, La Mamma Pizza began as a dream shared by three siblings
            passionate about pizza. Inspired by childhood memories of family meals in our mother's
            kitchen, we decided to bring the authentic taste of Italy to your community. Since then,
            our journey has been filled with laughter, learning, and, of course, a lot of delicious pizza.</p>
        <p class='fs-5'>🌟 Commitment to Quality: At La Mamma Pizza, quality is our priority. Every ingredient is chosen
            carefully,
            from selecting the finest tomatoes to hand-kneading the dough daily. We value tradition but also seek
            innovation,
            creating flavor combinations that pay homage to the past while looking towards the future."</p>


    </div>
</div>


{% endblock container %}



