{% extends 'base.html' %}
{% load static %}



{% block container %}




<div class="container align-items-center justify-content-center" style="max-width:800px;">
    <div class="mx-auto my-5">
        <div class='mb-5'>
            <div class='h3 m-2 text-uppercase text-white-shadow'>{{title}}</div>
            <div class='fs-3 m-2 text-white-shadow'>{{content}}</div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="mb-1 col-8 mx-auto">
                <label for="exampleFormControlInput1" class="form-label text-white-shadow">Email</label>
                {{form.email}}
                {{ form.email.errors }}
            </div>
            <div class="mb-1 col-8 mx-auto">
                <label for="exampleFormControlInput1" class="form-label text-white-shadow">Name</label>
                {{form.name}}
                {{ form.name.errors }}
            </div>
            <div class="mb-1 col-8 mx-auto">
                <label for="exampleFormControlTextarea1" class="form-label text-white-shadow" style="height: 30px;">Message</label>
                {{form.message}}
                {{ form.message.errors }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-sm btn-info mb-2">Send</button>
            </div>
        </form>
    </div>
</div>


{% endblock container %}