<!-- templates/404.html -->

{% extends 'base.html' %}
{% load static %}



{% block container %}

<div class="container mt-5 p-5 bg-light row row-cols-2 m-auto" style='height:100vh!important'>

        
        <img class='col-auto' style='height:100vh!important' src="{% static "images/error404.jpeg" %}" alt="">
        <div class='col-4 text-center'>
            <h1 class='pt-5 mt-5'>{{error_message}}</h1>
            <h2 class='pt-5 mt-5'>ERRO 404.</h2>
            <div style='border-radius:5rem; width:5rem; height:5rem' class='bg-primary m-auto p-2 shadow shadow-lg'>
            <i class="fa-solid fa-house"></i>
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </div>
        </div>

   
</div>    








{% endblock container %}




