{% extends 'base.html' %} {% load static %}

{% block container %}
<div class="cart-container w-50 m-auto p-2  bg-light" style="margin-top: 7rem!important;">
    <h2>Purchase</h2>
    {% if orders %}
        <ul>
            {% for order in orders %}
                <li class='row row-cols-2 m-2 shadow shadow-sm p-2'>
                    <div class='col-2 rounded-start-5'>
                        <img src="{{order.product.image.url}}" alt="" class='w-50'>
                    </div>
                    <div class='col pt-3'>{{ order.product }} | Quantity: <b>{{ order.quantity }}</b></div>
                </li>
            {% endfor %}
        </ul>
        <div class='m-4 row row-cols-2 border rounded-5 w-50'>
            <div class="col-2 text-center p-3 bg-secondary">
                <i class="fa-solid fa-coins"></i>
            </div>
            <div class="col-6">
                <p class='p-0 m-0'>Total = {{total_items}} itens</p>
                <p class='p-0 m-0'>Preço total = ${{total_price}}</p>
            </div>
        </div>
        <form action="" method="post" class='shadow d-block w-75 m-auto p-3'>
            {% csrf_token %}
            <div class='d-flex m-2'>
                {{form.shipping_address.label_tag}}: &nbsp;
                {{form.shipping_address}}<i class="fa-solid fa-plus text-primary m-1 mx-2"></i>
            </div>
            <div class='d-flex m-2'>
                {{form.billing_address.label_tag}}: &nbsp;
                {{form.billing_address}}<i class="fa-solid fa-plus text-primary m-1 mx-2"></i>
            </div>
            <div class='d-flex m-2'>
                {{form.payment.label_tag}}: &nbsp;
                {{form.payment}}<i class="fa-solid fa-plus text-primary m-1 mx-2"></i>
            </div>
            <button type="submit" class="btn btn-sm btn-success d-block w-50 m-auto mt-2 mb-2">Complete purchase</button>
        </form>
    {% else %}
        <p>You have no orders yet.</p>
    {% endif %}

    

</div>

{% endblock container %}